~START-CONFIG~
destination: index.html
site-name: NorseCode
~END-CONFIG~

<!DOCTYPE html>
<html>

$head.html$

<body>

$header.html$

    <article>
        <h2>Kurzfassung des Themas</h2>
        <p>
            Was hält uns davon ab, neue Sinne für uns Menschen zu erschaffen? Ich denke: nichts.
            Diese Hypothese prüfe ich experimentell anhand einer alltagstauglichen Applikation:
            dem Übersetzen von Text in optimierte Vibrationsmuster. So kann ich beispielsweise
            Benachrichtigungen lesen, ohne sie zu lesen. Das funktioniert, indem mein Handy die
            Informationen in einer neuen Sprache kodiert: einem Norsecode. Ich prüfe, ob diese
            Technik genutzt werden könnte, um beschädigte Sinne zu ersetzen oder gar neue Sinne
            zu erschaffen.
        </p>
        <h2>Kontext</h2>
        <p>
            Diese Website ist im Rahmen meines Jugend forscht Projekts entstanden. Das Ziel ist es,
            eine neue Technik zu entwickeln, die es ermöglicht, Informationen über Vibrationen zu
            übermitteln. Ich habe mich für die Entwicklung einer
            alltagstauglichen Applikation entschieden, um die Technik zu testen. Diese Website
            dient dazu, die Technik zu erklären und zu demonstrieren.
        </p>
    </article>

$footer.html$

</body>

</html>